

body {
	background-color: #2d4e7b;
}

/* 信息提示*/
.success {
	color: #fff;
	padding-top: 40%;
	text-align: center;
}
.success .msg {
	font-size: 30px;
	margin-bottom: 20px;
}
.success .text {
	font-size: 16px;
	margin-bottom: 20px;
}
.success .close {
	color: #557FED;
	text-decoration: underline;
}
