.viewport {
    display: block;
}
.graybg{
	background-color: #ccc;
    width: 1024px;
    height: 525px;
    margin: 80px auto;
    padding:1%;
}
.pulscensus-wrap{
	background-color: #64B7E1;
	width:100%;
	height: 525px;
	display:block;
}
.pulscensus-index{
	padding: 80px 250px;
}
.pulscensus-top{
    color: #fff;
    text-align: center;
}
.pulscensus-top p{
	height: 50px;
    font-size: 30px;
    line-height: 100px;
}
.pulscensus-top span{
    font-size: 64px;
}
.pulscensus-body{
    padding: 60px 95px;
}
.pulscensus-body input{
    line-height: normal;
    width: 300px;
    height: 60px;
}
.pulscensus-foot span{
	width: 80px;
    height: 100px;
    display: block;
}
.pulscensus-foot-left{
	float: left;
}
.pulscensus-foot-right{
    float: right;
}