

.viewport {
	padding-top: 100px;
	background-color: #ECEEF1;
	overflow: hidden;
}
#main {
	overflow: hidden;
}

.fz-1 {
	font-size: 16px;
}
.fz-2 {
	font-size: 18px;
}

.usetting-wrap {
	width: 650px;
	color: #6B7485;
	margin: 0 auto 80px;
}
.usetting-wrap input {
	height: 42px;
	color: #3B3B3B;
	text-indent: 12px;
	border-radius: 3px;
	border: 1px solid #F3F1F1;
	background-color: #eceef1;
}
.usetting-wrap .btn {
	color: #fff;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	border-radius: 3px;
	background-color: #71a8e0;
	display: inline-block;
	cursor: pointer;
}
.usetting-wrap .btn:hover {
	background-color: #4182c6;
}
.usetting-wrap .con-item {
	border-radius: 3px;
	margin-bottom: 30px;
	background-color: #fff;	
}
.usetting-wrap .remarks {
	font-size: 16px;
	margin-right: 6px;
}
.usetting-wrap .item-title {
	font-size: 18px;
	height: 70px;
	line-height: 70px;
	padding-left: 40px;
	border-bottom: 1px solid #eceef1;
}
.usetting-wrap .item-content {
	padding-left: 130px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.item-title i {
	width: 20px;
	height: 22px;
	display: inline-block;
}
.con-item-div {
	line-height: 40px;
}
.con-item-div.text {
	height: 50px;
	line-height: 30px;
}


.user-warp .btn {
	width: 70px;
	height: 42px;
}
.user-warp input {
	width: 200px;
}
.item-title i.user-icon {
	background: url("../img/bg-ico.png") no-repeat;
	background-position: 0px -86px;
}

.mail-wrap .btn {
	width: 70px;
	height: 42px;
}
.mail-wrap input {
	width: 200px;
}
.item-title i.mail-icon {
	background: url("../img/bg-ico.png") no-repeat;
	background-position: -24px -86px;
}

.pwd-wrap input {
	width: 250px;
}
.pwd-wrap .btn {
	width: 100px;
	height: 42px;
	margin-left: 145px;
}
.item-title i.lock-icon {
	background: url("../img/bg-ico.png") no-repeat;
	background-position: -48px -86px;
}

.checked {
	min-height: 25px;
	line-height: 25px;
}
label, .checked label {
	height: 25px;
	line-height: 25px;
	width: 260px;
	color: #FF1414;
	text-indent: 20px;
	padding-left: 18px;
	margin-left: 81px;
	display: none;
}
label.invalid, .checked label.invalid {
	background: url(../img/icon-error.png) no-repeat transparent;
	background-position: 0 45%;
}
label.valid {
	color: #22C837;
	background: url(../img/icon-prompt-green.png) no-repeat transparent;
	background-position: 0 46%;
}


/****** 页尾******/
#footer {
	position: relative;
}
